<!DOCTYPE html>
<html>
    <head>
        <title>Sobre</title>
        <link href="https://raw.githubusercontent.com/rocketseat-education/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <header>
            <div class="links">
                <a href="index.html">Home</a>
                <a href="about.html">Sobre</a>
                <a href="contents.html">Conteúdos</a>
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
                <a href="mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
            </div>
        </header>

        <div id="wrapper">
            <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="Rocketseat" />
            <h1>Rocketseat</h1>
            <h2>Evolua rápido como a tecnologia.</h2>
            <p>Principais tecnologias utilizadas: </p>
            <ul>
                <li>JavaScript</li>
                <li>Node.js</li>
                <li>React.js</li>
                <li>React Native</li>
            </ul>
        </div>

        <footer>
            <div class="links">
                <a href="https://github.com/rocketseat">Github</a>
                <a href="https://instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
                <a href="https://facebook.com/rocketseat" target="_blank">Facebook</a>
            </div>
        </footer>

    </body>
</html>