{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <div class="avatar" style="background: url(https://source.unsplash.com/collection/4852103/800x800) no-repeat  center center / cover"></div>
        <div class="details">
            
            <h3>Details</h3>

            <div class="item">
                <div>Teacher</div>
                <div>Diego Fernandes</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>22</div>
            </div>

            <div class="item">
                <div>Education</div>
                <div>Bachelor</div>
            </div>

            <div class="item">
                <div>Modality</div>
                <div>In Person</div>
            </div>

            <div class="item">
                <div>Classes</div>
                <div>
                    <span>Coding</span>
                    <span>Design</span>
                </div>
            </div>

            <div class="item">
                <div>Since</div>
                <div>2021-07-01</div>
            </div>

        </div>
    </div>

{% endblock content %}