* {
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    background: #FBDFDB;
    position: absolute;
    top: 93px;
    left: 250px;
    width: 940px;
    height: 366px;
    border-radius: 30px;
}

.main-image {
    margin: 66px 100px 0px 624px;
}