<!DOCTYPE html>
<html>

    <head>
        <title>Burger</title>
        <link rel="stylesheet" href="../style.css" />
    </head>

    <body>

        <div class="modal-recepi">
            <div class="modal-recepi-image">
                <img src="../assets/burger.png" alt="Burguer" />
            </div>
            <div class="modal-recepi-content">
                <p>Triplo bacon burger</p>
                <p class="modal-recepi-author">por Jorge Relato</p>
            </div>
        </div>

    </body>

</html>