{% extends 'layout.njk' %}

{% block span %}
    <a href="/admin/recipes/">Receitas</a>
{% endblock %}

{% block content %}

    <form class="card" method="POST" action="/admin/recipes">

        <div class="item">
            <div>URL da Imagem</div>
            <input 
                type="url" 
                name="image_url"
                placeholder="https://"
            >
        </div>

        <div class="item">
            <div>Nome da receita</div>
            <input 
                type="text" 
                name="recipe_name"
            >
        </div>

        <div class="item">
            <div>Nome do autor</div>
            <input 
                type="text" 
                name="author_name"
            >
        </div>

        <div class="item">
            <div>Ingredientes</div>
            <input 
                type="text" 
                name="ingredients"
                placeholder="Separe os ingredientes por vírgula"
            >
        </div>

        <div class="item">
            <div>Modo de preparo</div>
            <input 
                type="text-area" 
                name="preparation"
            >
        </div>

        <div class="item">
            <div>Informações adicionais</div>
            <input 
                type="text-area" 
                name="more_info"
            >
        </div>

        <button type="submit">Enviar</button>

    </form>
    
{% endblock %}