{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <div class="avatar" style="background: url(https://source.unsplash.com/collection/4852103/800x800) no-repeat  center center / cover"></div>
        <form class="details" method="post" action="/teachers">
            
            <h3>New Teacher</h3>

            {% include 'teachers/fields.njk' %}

        </form>
    </div>
    
{% endblock content %}