{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <div class="avatar" style="background: url({{ teacher.avatar_url }}) no-repeat  center center / cover"></div>
        <form class="details" method="post" action="/teachers">
            
            <h3>Edit Teacher</h3>

            {% include 'teachers/fields.njk' %}

        </form>
    </div>

{% endblock content %}