<h3>Novo professor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="https://">
                </div>
            </div>

            <div class="item">
                <div>Nome completo</div>
                <div>
                    <input type="text" name="name" placeholder="Nome completo">
                </div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div>
                    <input type="date" name="birth">
                </div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    <select name="education">
                        <option>Ensino Médio Completo</option>
                        <option>Ensino Superior Completo</option>
                        <option>Mestrado</option>
                        <option>Doutorado</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>
                    <span><input type="radio" value="Pre" name="type" checked>Presencial</span>
                    <span><input type="radio" value="EAD" name="type">À distância</span>
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="subjects" placeholder="Separe as disciplinas ministradas por vírgula">
                </div>
            </div>