@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --rocketseat-color: #8E4Dff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 200ms;
}

.wrapper img {
    border-radius: 50%;
    border: 3px solid var(--rocketseat-color);
    margin-top: 100px;
}

div h1 {
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--rocketseat-color);
}

div h2 {
    margin: 30px;
}

body div ul {
    padding: 5px;
}

body div ul li {
    padding: 3px;
}

div a {
    color: white;
    text-decoration: none;
    padding: 30px;
}

div a:hover {
    color: var(--rocketseat-color);
}

footer {
    margin-top: 150px;
}

.cursos {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.curso {
    background-color: var(--color-rocket);
}

.curso__image-container img {
    width: 100%;
}

.curso__content,
.curso__info {
    padding: 24px;
}

.curso_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.curso__price {
    background-color: var(--color-rocketseat);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.wrapper h1 {
    color: white;
}
