{% extends 'layout.njk' %}

{% block head %}
    <title>Conteúdos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Posts</h1>
    </div>

    <section class="cards">
        
        {% for post in posts %}
            <div class="card" id="{{ post.id }}">
                <div class="card__image-container">
                    <img src="{{ post.img_url }}" alt="{{ post.title }}" />
                </div>
                <div class="card__content">
                    <p>{{ post.title }}</p>
                </div>
                <div class="card__info">
                    <p>{{ post.duration }}</p>
                    <p class="card__author">{{ post.author }}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    <script src="script.js"></script>
    
{% endblock %}