{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper">
        <h1>Posts</h1>
    </div>

    <section class="cards">

        {% for course in courses %}
        <div class="card" id={{ course.id }}>
            <div class="card__image-container">
                
            </div>
        </div>
        {% endfor %}

    </section>

    <script src="script.js"></script>

{% endblock %}