{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper">
        <h1>{{item.title}}</h1>
    </div>

    <section class="cards">

        {% for course in courses %}
        <div class="card" id={{ course.id }}>
            <div class="card__image-container">
                <iframe src="https://rocketseat.com.br/{{ item.id }}" frameborder="0"></iframe>
            </div>
        </div>
        {% endfor %}

    </section>

    <script src="script.js"></script>

{% endblock %}