{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper" class="post">
        <h1>{{ item.title }}</h1>
    </div>

    <section class="post">

        <div class="card post" id={{ item.id }}>
            <div class="card__post-container">
                <iframe src="https://blog.rocketseat.com.br/{{ item.id }}" frameborder="0"></iframe>
            </div>
        </div>

    </section>

    <script src="/script.js"></script>

{% endblock %}