@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 940px;
    height: 93px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    margin-top: 36.1px;
    margin-bottom: 30px;
}

header .links {
    position: absolute;
    margin-top: 38px;
    margin-left: 152px;
}

header .links a {
    color: #111111;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    margin: 0 15px;
}

.main {
    background-color: #FBDFDB;
    width: 940px;
    height: 366px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 30px;
    position: relative;
}

.main .main-text h1 {
    margin: 117px 575px 211px 60px;
    position: absolute;
    font-size: 32px;
    line-height: 38px;
    color: #111111;
}

.main .main-text p {
    margin: 165px 564px 117px 60px;
    position: absolute;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

.main .main-image img {
    position: absolute;
    margin: 66px 100px 0 624px;
}

.main-title h1 {
    width: 940px;
    margin: 20px auto;
    font-size: 24px;
    line-height: 28px;
    color: #111111;

}

.title {
    width: 940px;
    margin: 50px auto;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.recepis {
    max-width: 940px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recepi:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.recepis recepis-title h1 {
    color: #111111;
    font-size: 24px;
    line-height: 28px;
}

.recepi-image img {
    width: 100%;
    border-radius: 15px;
}

.recepi-content {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
}

.recepi-author {
    margin-top: 5px;
    color: #777777;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

footer {
    background: #EEEEEE;
    text-align: center;
    padding: 23px;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

/* --- ABOUT --- */
.content {
    width: 940px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

span {
    font-weight: bold;
}

/* --- MODAL --- */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 300px auto;
    border-radius: 16px;
    position: relative;
}

.close-modal {
    color: #999999;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    margin: 0 281px;
}

/* --- MODAL ACTIVE --- */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*--- MODAL RECEPI---*/
.modal-recepi-image {
    text-align: center;
    margin-top: 30px;
}

.modal-recepi-image img{
    border-radius: 15px;
    width: 600px;
    height: 200px;
}

.modal-recepi-content {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
}

.modal-recepi-author {
    font-size: 18px;
    line-height: 21px;
    color: #777777;
}