{% extends "layout.njk" %}

{% block head %}
    <title>Sobre - Gabriel Klein</title>
{% endblock %}

{% block content %}

<div id="wrapper">
    <img src="https://avatars0.githubusercontent.com/u/22963494?s=460&u=3f020d4a9f9041ada4585a645cd8721b99a9fcc0&v=4" alt="Gabriel Klein" />
    <h1>Gabriel Klein</h1>
    <h2>Data Engineer at <a href="http://cadastra.com" target="_blank">Cadastra</a></h2>
    <p>Student at Rocketseat and Information Tecnology Student at Ulbra</p>
</div>

<footer>
    <div class="links">
        <a href="https://github.com/g4brielklein" target="_blank">GitHub</a>
        <a href="https://linkedin.com/in/g4brielklein" target="_blank">LinkedIn</a>
    </div>
</footer>

{% endblock %}


{# {% extends "layout.njk" %}}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="Rocketseat" />
        <h1>Rocketseat</h1>
        <h2>Evolua rápido como a tecnologia.</h2>
        <p>Principais tecnologias utilizadas: </p>
        <ul>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>React.js</li>
            <li>React Native</li>
        </ul>
    </div>

    <footer>
        <div class="links">
            <a href="https://github.com/rocketseat">Github</a>
            <a href="https://instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
            <a href="https://facebook.com/rocketseat" target="_blank">Facebook</a>
        </div>
    </footer>
    
{% endblock %} #}