{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <section class="image" style="background: url(https://source.unsplash.com/collection/10085420) no-repeat center center / cover">
            
        </section>
        
        <section class="details">
            
            <h3>Details</h3>

            <div class="item">
                <div>Full name</div>
                <div>{{data[1].name}}</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>{{data[1].age}}</div>
            </div>

            <div class="item">
                <div>Education</div>
                <div>PHD</div>
            </div>

            <div class="item">
                <div>Class Modality</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Subjects</div>
                <div>
                    <span>History</span>
                    <span>Geography</span>
                </div>
            </div>

            <div class="item">
                <div>Created At</div>
                <div>25/04/2021</div>
            </div>

        </section>
    </div>
{% endblock content %}