{% extends 'layout.njk' %}

{% block head %}
    <title>Sobre - {{ about.name }}</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="{{ about.img_url }}" alt="{{ about.name }}" />
        <h1>{{ about.name }}</h1>
        <h2>{{ about.title }}</h2>
        <p>{{ about.title_tecs }}</p>
        <ul>
            {% for tec in about.tecs %}
                <li>{{ tec }}</li>
            {% endfor %}
        </ul>
    </div>

    <footer>
        <div class="links">
            {% for link in about.links %}
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% endfor %}
        </div>
    </footer>
    
{% endblock %}