{% extends 'layout.njk' %}

{% block head %}
    <title>Example Post</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Example post</h1>
    </div>

    <section class="cards">

            <div class="card" id="{{ item.id }}">
                <div class="card__post-container">
                    <img src="{{ item.img_url }}" alt="" />
                </div>
                <div class="card__content">
                    <p>{{ item.title }}</p>
                </div>
                <div class="card__info">
                    <p>{{ post.duration }}</p>
                    <p class="card__author">{{ post.author }}</p>
                </div>
            </div>

    </section>

    <script src="script.js"></script>
    
{% endblock %}