{% extends 'layout.njk' %}

{% block header %}
    <a href="/" class="active">Teachers</a>
{% endblock %}

{% block content %}

    <div class="card">
        <section class="image" style="background: url(https://source.unsplash.com/collection/1486124/500x500) no-repeat center center / cover"></section>
        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome completo</div>
                <div>Yuhal Noah Harrari</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>45</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>Pós-Doutorado</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>História</span>
                    <span>Psicologia</span>
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>19/02/2021</div>
            </div>

        </section>
    </div>
{% endblock %}