<!DOCTYPE html>
<html>
    <head>
        <title>Doce</title>
        <link rel="stylesheet" href="../style.css" />
    </head>
    <body>
        <div class="moda-recepi">
            <div class="modal-recepi-image">
                <img src="../assets/doce.png" alt="Burguer" />
            </div>
            <div class="modal-recepi-content">
                <p>Docinhos pão-do-céu</p>
                <p class="modal-recepi-author">por Ricardo Golvea</p>
            </div>
        </div>
    </body>
</html>