<!DOCTYPE html>
<html>
    <head>
        <title>Lasanha</title>
        <link rel="stylesheet" href="../style.css" />
    </head>
    <body>
        <div class="modal-recepi">
            <div class="modal-recepi-image">
                <img src="../assets/lasanha.png" alt="Burguer" />
            </div>
            <div class="modal-recepi-content">
                <p>Lasanha mac n' cheese</p>
                <p class="modal-recepi-author">por Juliano Vieira</p>
            </div>
        </div>
    </body>
</html>