<!DOCTYPE html>
<html>
    <head>
        <title>Pizza</title>
        <link rel="stylesheet" href="../style.css" />
    </head>
    <body>
        <div class="modal-recepi">
            <div class="modal-recepi-image">
                <img src="../assets/pizza.png" alt="Burguer" />
            </div>
            <div class="modal-recepi-content">
                <p>Pizza 4 estações</p>
                <p class="modal-recepi-author">por Fabiana Melo</p>
            </div>
        </div>
    </body>
</html>