{% extends 'layout.njk' %}

{% block span %}
    <a href="/about"><span>Sobre</span></a>
    <a href="/recipes">Receitas</a>
{% endblock %}

{% block content %}
    <div class="about-content">

        <div class="title" id="main-title">
            <p>{{ data.title_1 }}</p>
        </div>
        <div class="content">
            <p>
                {{ data.about }}
            </p>
        </div>

        <div class="title">
            <p>{{ data.title_2 }}</p>
        </div>
        <div class="content">
            <p>
                {{ data.start }}
            </p>
        </div>

        <div class="title">
            <p>{{ data.title_3 }}</p>
        </div>
        <div class="content">
            <p>
                {{ data.recipes }}
            </p>
        </div>

    </div>
{% endblock %}