<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/style.css" />
    </head>

    <body>

        <header>

            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt="Logo" /></a>
            </div>

            <div class="links">
                {% block span %}
                    <a href="/about">Sobre</a>
                    <a href="/recepis">Receitas</a>
                {% endblock %}
            </div>

        </header>

       {% block content %}{% endblock %}

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>

    </body>

</html>