{% extends 'layout.njk' %}

{% block span %}
    <a href="/about">Sobre</a>
    <a href="/recepis"><span>Receitas</span></a>
{% endblock %}

{% block content %}
    <div class="recepis">

        {% for data in data %}
            <div class="recepi" id="burger">
                <div class="recepi-image">
                    <img src="{{ data.image }}" alt="Imagem de {{ data.title }}" />
                </div>
                <div class="recepi-content">
                    <p>{{ data.title }}</p>
                    <p class="recepi-author">{{ data.author }}</p>
                </div>
            </div>
        {% endfor %}
        {% for data in data %}
            <div class="recepi" id="burger">
                <div class="recepi-image">
                    <img src="{{ data.image }}" alt="Imagem de {{ data.title }}" />
                </div>
                <div class="recepi-content">
                    <p>{{ data.title }}</p>
                    <p class="recepi-author">{{ data.author }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
    
    <script src="script.js"></script>

{% endblock %}