{% extends 'layout.njk' %}

{% block span %}
    <a href="/about">Sobre</a>
    <a href="/recipes"><span>Receitas</span></a>
{% endblock %}

{% block content %}

    <div class="recipes">

        {% for data in data %}
            <div class="recipe" id="burger">
                <div class="recipe-image">
                    <img src="{{ data.image }}" alt="Imagem de {{ data.title }}" />
                </div>
                <div class="recipe-content">
                    <p>{{ data.title }}</p>
                    <p class="recipe-author">{{ data.author }}</p>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="space"></div>

    <script src="script.js"></script>
    
{% endblock %}