{% extends 'layout.njk' %}

{# {% block head %}
    <script>
        
    </script>
{% endblock %} #}

{% block content %}

    <div class="recipe-details">
        <div class="image-container">
            <img src="{{ item.image }}" alt="Imagem de {{ item.title }}" />
        </div>
        <div class="title-container">
            <h1>{{ item.title }}</h1>
        </div>
        <div class="author-container">
            <p>por {{ item.author }}</p>
        </div>
        <div class="ingredients-container">
            <div class="container-contents">
                <h1>Ingredientes</h1>
                <p class="hide-show">ESCONDER</p>
            </div>
            <ul>
                {% for ingredient in item.ingredients %}
                    <li>{{ ingredient }};</li>
                {% endfor %}
            </ul>
        </div>
        <div class="preparation-container">
            <div class="container-contents">
                <h1>Modo de preparo</h1>
                <p class="hide-show">ESCONDER</p>
            </div>
            <p>{{ item.preparation }}</p>
        </div>
        <div class="information-container">
            <div class="container-contents">
                <h1>Informações adicionais</h1>
                <p class="hide-show">ESCONDER</p>
            </div>
            <p>{{ item.information }}</p>
        </div>
    </div>

    <script src="/script.js"></script>
    
{% endblock %}