{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/instructors">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/77402989/900x900) no-repeat center center / cover"></section></section>
        <section class="details">
            
            <h3>New Instructor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input
                        type="url"
                        name="avatar_url"
                        placeholder="https://"
                    >
                </div>
            </div>

            <div class="item">
                <div>Instructor</div>
                <div>
                    <input
                        type="text"
                        name="name"
                        placeholder="Type instructor's name"
                    >
                </div>
            </div>

            <div class="item">
                <div>Birth Date</div>
                <div>
                    <input
                        type="date"
                        name="birth"
                    >
                </div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>
                    <span><input
                        type="radio"
                        name="gender"
                        value="M"
                        checked
                    >Masculino</span>

                    <span><input
                        type="radio"
                        name="gender"
                        value="F"
                    >Feminino</span>
                </div>
            </div>

            <div class="item">
                <div>Services</div>
                <div>
                    <input
                        type="text"
                        name="services"
                        placeholder="Separate services with commas"
                    > 
                </div>
            </div>

            <button type="submit">Submit</button>
        
        </section>
    </form>

{% endblock content %}