{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar">
            <section class="details">
                
            </section>
        </section>
    </div>
{% endblock content %}