{% extends 'layout.njk' %}

{% block header %}
    <a href="/" class="active">Instructors</a>
{% endblock %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details"></section>
    </div>
{% endblock %}