<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Personal Classes</title>
        {% endblock %}

        <link href="/style.css" rel="stylesheet" />
    </head>

    <body>

        <header>
            <div class="links">
                <a href="/" class="active">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>