@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

:root {
    --primary-color: #d87e17;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

header {
    background-color: white;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 20px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a + a {
    margin-left: 15px;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease;
}

/* === card ==== */

.card {
    background-color: white;
    min-height: 400px;
    width: 800px;
    margin: 50px auto;

    display: grid;
    grid-template-columns: 40% 60%;
}

.details {
    margin: 20px;
}

.details .item {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    line-height: 18px;
}

.details .item:last-child {
    border-bottom: none;
}

.details .item div:nth-child(1) {
    color: #777;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
}

